.navbar {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: 8px 5px 8px 5px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
body{
    background-color: rgb(246,246,246);
}
.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    margin-right: auto;
}


.navbar-search {
    /* padding: 9px 0 9px 40px; */
  
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center; 
    line-height: 20px;      
    border-radius: 3px;
    color: #333;
    width: 100%;
}

.navbar-search-field{
    width: 50%;
}
#search-button {
    margin-left: .5em;
    color: #fff;
    background: #3079be;
    font-size: 16px;
    height: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif !important;
    

}
.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}
.home-image {
    /* width: 30%;
    height: 10%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    height: 12%;
    
}
.image-container-home{
    justify-content: right;
}
.body-content {
    padding: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}